/* ApplicationTablePage.css */

/* Modal Overlay */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5); /* Dimmed background */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 999;
}

/* Modal Content */
.edit-application {
  background-color: #fff;
  padding: 2rem;
  border-radius: 12px;
  max-width: 600px;
  width: 90%;
  max-height: 90vh;
  overflow-y: auto;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.25);
}

/* Optional: Adjust Cancel button */
.edit-application button {
  margin-top: 1rem;
}

.app-table-page h2 {
  font-size: 2rem;
  font-family: 'Gambarino';
  font-weight: 300;
  color: var(--primary-darkest-font-color);
  margin: 0;
  margin-top: 10px;
  margin-bottom: 10px;
}

.app-table-page {
  width: 100%;
  gap: 10px;
  display: flex;
  flex-direction: column;
  padding: 0 5% 0 5%
}

.app-table {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}


