.mode-toggle {
    padding: 10px 20px;
    border-radius: 0px;
    color: var(--contrast-text-color);
    border: 2px solid var(--secondary-background-border-color);
    background: var(--secondary-background-color);
    cursor: pointer;
    margin-right: -1px;
}

.mode-toggle.is-selected {
    background: var(--primary-medium-color);
    color: var(--secondary-background-color);
}

.toggle:focus {
    outline: 2px solid var(--primary-dark-color);
}

.toggle-group-filter-modal {
    border-style: none;
    justify-content: center;
    align-items: top;
}