.toggle-row {
    display: flex;
    flex-wrap: wrap;
}

.mode-toggle {
    padding: 8px 12px;
    border-radius: 999px;
    border-radius: 0px;
    color: var(--contrast-text-color);
    border: 2px solid var(--secondary-background-border-color);
    background: var(--secondary-background-color);
    cursor: pointer;
    margin-right: -1px;
}

.mode-toggle.is-selected {
    background: var(--primary-medium-color);
    color: var(--secondary-background-color);
}

.toggle:focus {
    outline: 2px solid var(--primary-dark-color);
}

.toggle-group-filter-modal {
    border-style: none;
}