@import "./styles/theme.css";
@import "./styles/statusColors.css";
@import "./styles/fonts.css";



/* kill the default body gap */
html,
body,
#root {
    height: 100%;
}

body {
    margin: 0;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  margin: -1px;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

button:focus-visible {
    outline-color: var(--primary-darkest-font-color);          
}
* {
    box-sizing: border-box;
    font-family: 'Inter';
}