.side-nav-content {
    display: flex;
    flex-direction: column;
}

.side-nav-content.collapsed {
    width: 70px;
}

.side-nav-content.collapsed h2 {
    justify-content: center;
    align-items: center;
}

.side-nav-content.collapsed h2 button {
    position: absolute;
    left: 60px;
    background-color: white;
}

.side-nav-content.expanded {
    min-width: 250px;
}

.side-nav-content h2 {
    flex: 1;
    margin: 5px;
    padding: 0;
    font-family: 'Gambarino';
    color: var(--primary-darkest-font-color);
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
}

.side-nav-content h2 button {
    flex: 1 1 0;
    display: flex;
    justify-content: flex-end;
    background: none;
    border: none;
    cursor: pointer;
}
.side-nav-content h2 img {
    height: 50px;
}

.side-nav-content nav {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 5px;
    padding: 5px;
}

.side-nav-content nav a {
    font-family: "Switzer", system-ui, -apple-system, Segoe UI, Roboto, Arial, sans-serif;
    font-weight: 600;
    text-decoration: none;
    color: var(--secondary-dark-grey-color);
    height: 45px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    padding: 20px 0 20px 0;
    border-radius: 5px;
    gap: 5px;
}

.side-nav-content.collapsed nav a {
    gap: 2px;
}

.side-nav-content.collapsed .nav-label {
    display: none;
    /* add !important if something is overriding it */
}

.side-nav-content .intermission .decor-line {
    width: 100%;
    height: 2px;
    background-color: var(--decor-line-color);
}

.side-nav-content .intermission p {
    font-family: 'Switzer';
    color: #949494;
    font-size: .8rem;
    padding: 5px;
    margin: 0;
}

.nav-icon {
    color: var(--secondary-dark-grey-color);
}

.side-nav-content nav a.tab-active {
    background-color: var(--secondary-light-color);
    color: var(--primary-darkest-font-color);
}

.side-nav-content .tab-active .nav-icon {
    color: var(--primary-darkest-font-color);
}

.tab-inactive {
    background-color: None;
}