.top-nav {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    height: 50px;
    gap: 32px;
    padding-right: 10px;
    padding-top: 10px;
}

.account-icon {
    width: 46px;
    height: 46px;
    border-radius: 100px;
    background-color: var(--account-icon-background-color);
    display: flex;
    align-items: center;
    justify-content: center;

    font-family: 'Gambarino';
    font-size: 2rem;
    color: var(--account-icon-text-color);
}

.top-nav .application-button {
    background-color: var(--secondary-background-color);
    font-family: 'Switzer';
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--contrast-text-color);
    border-style: none;
    border-radius: 16px;
    padding: 8px 12px 8px 12px;
}

.top-nav .application-button:hover {
    cursor: pointer;
    background-color: var(--secondary-background-hover-color);
}

