/*:root {
    --wishlist-status-color: #97D1FB;
    --applied-status-color: #4EC0B4;
    --interviewing-status-color: #F59E0B;
    --offer-status-color: #10B95C;
    --rejected-status-color: #EF4444;
    --withdrawn-status-color: #FF9246;
}*/