.auth-layout {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: row;
    min-height: 0;
}

.main-page {
    flex: 8 1 0;
    min-width: 0;
    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.main-page > .top-nav {
    flex-shrink: 0;
}

.main-page > :not(.top-nav) {
    flex: 1;
    min-height: 0;
    overflow: hidden;
}

/* {
  outline: 1px solid red !important;
}*/
